.simpleelement {
    display:flex;
    flex-direction: column;
}

.simpleelement .toggle {
    margin-bottom: 15px;
}

.simpleelement .toggle .umb-button:first-child {
    margin-left: 0;
}

.simpleelement .element {
    display: block;
    width: 100%;
}

.simpleelement .editor {
    padding: 20px;
    background: #faf7f7;
}

.simpleelement .umb-tabs-nav {
    background: #1b264f;
    margin-bottom: 0;
    padding: 0px;
}

.simpleelement .umb-tabs-nav .umb-tab {
    top: 0;
    padding: 15px 20px;
}


.simpleelement .umb-tabs-nav .umb-tab>a {
    color: #fff;
    padding: 0;
}
    .simpleelement .umb-tabs-nav .umb-tab--active {
        background: #35457b;
    }

    .simpleelement .umb-tabs-nav .umb-tab--active > a {
        color: #fff;
    }

    .simpleelement .umb-tabs-nav .umb-tab > a:after {
        display:none;
    }

.simpleelement .editor .umb-property {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.simpleelement .editor .umb-property:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.simpleelement.align-left {
    display: flex;
}

    .simpleelement.align-left .element {
        display: flex;
    }

    .simpleelement.align-left .umb-tabs-nav {
        flex: 1;
        max-width: 250px;
    }

    .simpleelement.align-left .umb-tabs-nav li {
        display:block;
    }

    .simpleelement.align-left .umb-tabs-nav .umb-tab > a {
        justify-content: start;
    }

.simpleelement.align-left .editor {
    flex: 3;
}