<div class="simpleelement" ng-controller="SimpleElement.EditorController as vm">
    <umb-load-indicator class="mt2 mb2" ng-if="vm.loading"></umb-load-indicator>


    <ul role="tablist" class="umb-tabs-nav" ng-if="!vm.loading">
        <li class="umb-tab" role="tab" aria-selected="true" tabindex="0" ng-repeat="tab in vm.tabs |  limitTo: vm.maxTabs" data-element="tab-{{tab.alias}}" ng-class="{'umb-tab--active': tab.active, 'umb-tab--error': tabHasError}" val-tab>
            <a ng-href="" ng-click="vm.changeTab(tab)">{{ tab.label }}</a>
        </li>
    </ul>
    
    
    <div class="editor" ng-if="vm.tab">
        <umb-property  data-element="property-{{property.alias}}" ng-repeat="property in vm.tab.properties" property="property">
            <umb-property-editor model="property"></umb-property-editor>
        </umb-property>
    </div>
    
</div>